* {
    box-sizing: border-box;
}

.main-form {
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.main-form__input {
    min-height: 2rem;
}

.main-form__btn {
    cursor: pointer;
    max-width: 11.56rem;
    min-height: 2rem;
}

.main-form__input-error {
    margin: 0;
}

.result {
    display: flex;
    flex-wrap: wrap;
    max-width: 33rem;
    gap: 1rem;
}

.result__img {
    display: block;
    max-width: 16rem;
}
